{% extends "layout.html" %}
{% block body%}
	<br></br>
	<a href="/clear_cart"><button class="btn teal left">Clear Cart</button></a>
	<table class="center">
		<thead>
			  <th>Serail No</th>
			  <th>Username</th>
			  <th>ISBN</th>
			  <th>Quantity</th>
			  <th>Price</th>
		</thead>
		{% for item in items %}
	       <tbody>
	          <tr>
	            <td>{{ item.serial }}  </td>
	            <td>{{ item.email }}   </td>
	            <td>{{ item.book }}	   </td>
	            <td>{{ item.quantity }}</td>
	            <td>₹ {{ item.price }} </td>
	          </tr>
	        </tbody>
		{% endfor %}
	</table>
	<br></br>
	<div>
		<form><input type="text" name="name" placeholder="Name here..."><input type="text" name="phone" placeholder="Phone Number here..."></form><br>
		<button class="btn teal right">₹ {{ bill }}<i class="fas fa-cart-plus"></i></button>
	</div>
{% endblock %}