{% extends "layout.html" %}
{% block body%}
	<br></br>
	<a href="/clear_cart"><button class="btn teal left waves-effect">Clear Cart</button></a>
	<table class="center">
		<thead>
			  <th>Serail No</th>
			  <th>Username</th>
			  <th>ISBN</th>
			  <th>Quantity</th>
			  <th>Price</th>
		</thead>
		{% for item in items %}
	       <tbody>
	          <tr>
	            <td>{{ item.serial }}  </td>
	            <td>{{ item.email }}   </td>
	            <td>{{ item.book }}	   </td>
	            <td>{{ item.quantity }}</td>
	            <td>₹ {{ item.price }} </td>
	          </tr>
	        </tbody>
		{% endfor %}
	</table>
	<br>
	<h7 class="right"><b>Bill Amount:</b> ₹ {{ bill }}</h7>
	</br>
	<div>
		<form>
			<div class="input-field col s6">
	          <input id="last_name" type="text" class="validate">
	          <label for="last_name">Name</label>
	        </div>
        	<div class="input-field col s6">
	          <input id="last_name" type="text" class="validate">
	          <label for="last_name">Password</label>
	        </div>
    	</form>
    	<br>
		<a href="/show_orders"><button class="btn teal right">Proceed To Checkout<i class="fas fa-cart-plus"></i></button></a>
	</div>
{% endblock %}